---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, description, url, author, pubDate } = {
  url: "/blog/posts/" + Astro.props.post.id,
  title: Astro.props.post.data.title,
  author: Astro.props.post.data.author,
  description: Astro.props.post.data.description,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div class="relative flex flex-col items-start h-full justify-between group">
  <a href={url} title={title} class="absolute inset-0 z-10"></a>
  <div>
    <span class="text-xs text-accent-400 font-medium"
      >{author} on {pubDate}
    </span>
    <Text
      tag="h3"
      variant="textLG"
      class="text-accent-500 mt-6 group-hover:text-accent-600"
    >
      {title}
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="text-accent-500 mt-2 text-pretty items-center"
    >
      {description}
    </Text>
  </div>
</div>
